<h1>Xin Chào, {{name}}!</h1>
<p>Bạn quên mật khẩu ?.</p>
<P>Chúng tôi nhận được yêu cầu đặt lại mật khẩu của bạn</p>
<p>Nhấn vào nút dưới đây để đặt lại mật khẩu</p>
<button href="{{resetLink}}">Đặt lại mật khẩu</button>
<p>
If you did not request a password reset, please ignore this email or reply to let us know. 
</p> 
<p>
This password reset link is only valid for the next {{time}}.
</p>
<p>
Thanks, <br>
The Social-Network Team
</p>