<h1>Chào mừng, {{name}}!</h1>
<p>Cảm ơn bạn đã đăng ký tài khoản.</p>
<P>Đây là mã xác minh của bạn: <strong>{{verificationCode}}</strong></p>
<p>Mã xác minh sẽ hết hạn sau: <strong>{{time}}</strong> </p>
<p>Hoăc click vào link sau để xác minh email:</p>
<a href="{{verificationLink}}">Xác minh email</a>